@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo|Noto+Serif|Saira+Condensed|Titillium+Web&display=swap");
@import url("../ExcaliburNouveau.ttf");

@font-face {
  font-family: title;
  src: url("../ExcaliburNouveau.ttf");
}

$ff-source-sans-pro: "Source Sans Pro", sans-serif;
$ff-open-sans: "Open Sans", sans-serif;

$ff-titillium: "Titillium Web", sans-serif;
$ff-noto: "Noto Serif", serif;
$ff-saira: "Saira Condensed", sans-serif;
$ff-exo: "Exo", sans-serif;

$ff-pagetitle: "title";
$ff-title: $ff-exo;

$c-white: #fff;
$c-black: #000;
$c-palepurple: #f3edf9;
$c-palepurple--transparent: rgba(243, 237, 249, 242);
$c-babyblue: #acf9ff;
$c-pink: #ff0179;
$c-pink--hover: #c4005c;
$c-softpink: #feacff;
$c-softred: #ff6262;
$c-green: #8bfe01;
$c-ballpointblue: #3b29a6;
$c-ballpointblue--hover: #281b77;

$c-title: $c-pink;
$c-title--hover: $c-pink--hover;

body {
  overflow-x: hidden;
}

.page {
  visibility: hidden;
}

body.loaded .page {
  visibility: initial;
}

.page {
  max-width: 800px;
  width: 80%;
  margin: 0 auto 20%;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: $c-white;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 900px;
  height: auto;
  z-index: 1500;

  img {
    animation: loader 5s ease-in-out infinite;
  }
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(10) rotate(360deg);
  }
}

.loaded #loader-wrapper {
  //transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s 0.6s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
}

.no-js #loader-wrapper {
  display: none;
}

h1 {
  font-size: 0;
}

a {
  text-decoration: none;
}

.title {
  margin: 3% 0 5%;

  .shaking-button {
    width: 20%;
    margin-top: -2%;
  }

  h2 {
    font-family: $ff-pagetitle;
    font-size: 3rem;
    margin: 0;
    color: $c-title--hover;
    white-space: nowrap;
    text-shadow: 1px 1px 0 $c-title, 1px 2px 0 $c-title, 1px 3px 0 $c-title, 1px 4px 0 $c-title, 1px 5px 0 $c-title,
      1px 6px 0 $c-title, 1px 7px 0 $c-title, 1px 8px 0 $c-title, 5px 13px 15px $c-title--hover;
    letter-spacing: 2px;
    animation: shake 3s 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    text-align: center;
  }
}

a h2 {
  font-family: $ff-pagetitle;
  font-size: 2rem;
  letter-spacing: 2px;
  white-space: nowrap;
  color: $c-palepurple;
  text-shadow: 6px 9px 18px $c-ballpointblue, 1px 2px 0 $c-ballpointblue, 1px 3px 0 $c-ballpointblue--hover;;
}

body {
  margin: 0;
  padding: 0;
  height: 100vw;
  background: #f08080;
}

p,
ul li,
ol li {
  font-family: $ff-titillium;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li,
ul li a {
  color: $c-pink;
  margin: 6px 0;

  &:hover,
  &:focus {
    color: $c-pink--hover;
  }
}

h2,
h3 {
  font-family: $ff-title;
  font-weight: 600;
  margin-top: 0;
}

div img {
  width: 100%;
}

section {
  padding: 5% 0;
}

section:first-of-type {
  padding: 0 0 5% 0;
}

header {
  padding: 2% 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  width: 200px;
  // max-width: 40%;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.vimeo {
  padding-bottom: 73.17%;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// Index

body {
  background: $c-white url("../img/homepage-bg.jpg") repeat center 80px;
  background-size: 150%;
}

.enter {
  margin: 0 auto;
  max-width: 1080px;
  height: 100vh;
  margin-top: 49vh;

  .enter-button {
    position: absolute;
    width: 30vw;
    transform: rotate(12deg);
    right: -76vw;
    top: -2vw;
  }

  a {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.index-menu {
  // display: flex;
  // align-items: flex-start;
  // flex-flow: row nowrap;
  // justify-content: flex-end;
  width: 70%;
  text-align: right;

  img {
    width: auto;
    max-height: 40px;
  }

  .index-menu__item {
    display: inline;
    // display: flex;
    // align-items: flex-start;
    // align-self: flex-start;
    //width: 25%;

    &:first-of-type {
      padding-left: 4%;
    }

    &:not(:last-of-type) {
      padding: 0 1%;
    }

    &:hover,
    &:focus {
      filter: hue-rotate(20deg);
    }
  }
}

// Hamburger menu
/* The component will reset button browser styles */

.r-button {
  background-color: transparent;
  padding: 0;
  border: 0 solid $c-palepurple;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.r-button::-moz-focus-inner,
.r-button[type="button"]::-moz-focus-inner,
.r-button[type="reset"]::-moz-focus-inner,
.r-button[type="submit"]::-moz-focus-inner {
  /* Remove the inner border and padding in Firefox. */

  border-style: none;
  padding: 0;
}

/* The component will reset browser's styles of link */

.r-link {
  display: inline-flex !important;
  color: $c-pink !important;
  text-decoration: none !important;
}

/* The component will reset browser's styles of list */

.r-list {
  padding-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  list-style: none !important;
}

/* Basic styles of the hamburger component */

.m-hamburger {
  display: inline-flex;
  width: 28px;
  height: 20px;

  position: relative;
  text-indent: -9999px;
}

.m-hamburger::before,
.m-hamburger::after,
.m-hamburger__label {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: $c-pink;

  position: absolute;
  left: 0;
}

.m-hamburger::before,
.m-hamburger::after {
  content: "";
}

.m-hamburger::before {
  top: 0;
}

.m-hamburger::after {
  bottom: 0;
}

.m-hamburger__label {
  /* The calculation of middle hamburger button line position */

  top: calc(50% - calc(2px / 2));
}

/*
=====
MENU STYLES
=====
*/

.menu {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.menu__nav {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.menu__list {
  width: 100%;
  max-height: 100%;
  display: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu__toggle {
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  padding: 10px;
  flex: none;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.menu__toggle::before {
  /*
  1. The font-size property is used to simplify calculations of the element's sizes and position
  2. The negative value for the bottom property need for hiding half of circle. 
  */

  content: "";
  width: 1em;
  height: 1em;
  font-size: 100px; /* 1 */
  background-color: rgba(243, 237, 249, 242);
  border-radius: 50%;
  position: absolute;
  bottom: -0.5em; /* 2 */
  left: calc(50% - 0.5em);
  will-change: width, height;
  transition: transform 0.25s cubic-bezier(0.04, -0.1, 0.29, 0.98), width 0.25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height 0.25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

.menu__hamburger::before {
  /* Increase of click button area   */

  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

/* styles of hamburger's animation */

.m-hamburger::before,
.m-hamburger::after,
.m-hamburger__label {
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.m-hamburger::before,
.m-hamburger::after {
  transition-property: transform;
}

.m-hamburger__label {
  transition-property: transform, opacity;
}

/*
=====
MENU STATES
=====
*/

.menu__hamburger:focus {
  outline: none;
}

.menu_activated {
  height: 100%;
}

.menu_activated .menu__nav {
  height: 100%;
  opacity: 1;

  will-change: opacity;
  transition-duration: 0.2s;
  transition-delay: 0.3s;
}

.menu_activated .menu__toggle::before {
  width: 100vmax;
  height: 100vmax;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
  transition-duration: 1s;
}

.menu_activated .menu__list {
  display: block;
}

.menu_activated .m-hamburger::before {
  top: 50%;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}

.menu_activated .m-hamburger::after {
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.menu_activated .m-hamburger__label {
  transform: rotate(-45deg) translate3d(-0.285em, -0.3em, 0);
  opacity: 0;
}

.page__name {
  display: block;
  font-size: 3rem;
  font-weight: 700;
}
.menu__group {
  padding: 2.5% 22%;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (min-width: 769px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .index-menu {
    display: none;
  }

  .logo {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .index-menu img {
    height: 31px;
  }
}

//   @media  screen and (min-width: 911px) {
//   .index-menu .index-menu__item:last-of-type {
//     margin-right: -2.7%;
// }
//   }
// Posts

.post {
  margin: 1% auto;

  &:first-of-type {
    margin-top: 4%;
  }

  section:last-of-type {
    margin-bottom: 100px;
  }
  section:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

.project,
.fdfa,
.credit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 auto;
  transform: skew(-7deg, -7deg);
  border: 8px $c-ballpointblue double;
  background: $c-white;

  .project__img {
    width: 46%;
  }

  .project__description {
    width: 46%;
    font-size: 14px;
    position: relative;
    padding: 4% 4% 0 0;

    div {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: auto;
      padding: 8% 8% 0 0;
    }
  }
}

.credit {
  justify-content: center;
  margin: 9% 0;
  .link {
    animation: shake 2s linear infinite;
  }
}

.fdfa {
  padding: 0;
}

.images {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3.5%;

  .images__carousel {
    background: $c-white;
    border: 4px $c-softred solid;
    transform: skew(3deg, 1deg);
    box-shadow: -4px 3px 9px 1px $c-softred;
    width: 100%;
  }

  .carousel-residents,
  .carousel-model-2050 {
    width: 55%;
  }

  .carousel-residents2,
  .carousel-model-2050-2 {
    width: 40%;
  }
}

.heads {
  transform: skew(-3deg, -1deg);
  box-shadow: 4px 3px 9px 1px $c-softred;
  border: 4px $c-softred solid;
  background: white;
}
.carousel-heads {
  margin: 0 auto;
  width: 30vw;

  .slick-slide {
  }
  .slick-slide {
  }
}

.carousel-heads-nav {
  //margin-top: -10%;
}
.project__video {
  margin-top: 1%;
  iframe {
    background: #fff;
    border: 4px #ff6262 solid;
    transform: skew(3deg, 1deg);
    box-shadow: -4px 3px 9px 1px #ff6262;
  }
}

.project__video + .title {
  margin-top: 5%;
}

.project__video--2 {
  transform: skew(-4deg, -2deg);
}

.wrapper {
  display: flex;
  align-items: flex-start;
  width: 200px;
}
.left,
.right {
  outline: 1px solid red;
  width: 50%;
}
.right {
  position: relative;
}
.scrollable {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.arrow-down {
  position: fixed;
  bottom: 5%;
  width: 100px;
  left: 50%;
  margin-left: -50px;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 60px;
  height: 30px;
  padding: 0;

  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
}

.slick-prev {
  left: -25px;
  background: url("../img/prev.png") no-repeat center;
  background-size: contain;
  z-index: 2;
  animation: slick 2s reverse infinite;
}

.slick-next {
  right: -42px;
  background: url("../img/next.png") no-repeat center;
  background-size: contain;
  animation: slick 2s linear infinite;
}

@keyframes slick {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel-model-2050 {
  max-width: 1080px;
  margin: 0 auto;
}

.carousel-graduation-collection {
  max-width: 500px;
}

// Distorted carousels

.carousel-illustrations-wrapper {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: space-between;

  .carousel-illustrations,
  .carousel-prints {
    width: 40%;
    transform: skew(10deg, 10deg);
    border: 15px double $c-softpink;
    background: $c-white;
  }

  .carousel-illustrations2,
  .carousel-prints2 {
    width: 40%;
    transform: skew(-10deg, -10deg);
    border: 15px double $c-softpink;
    background: $c-white;
  }
}

// Slick height
.slick-track {
  display: flex !important;
  align-items: flex-start;
}

.slick-slide {
  height: inherit !important;
}

.colorcards {
  display: none;
  width: 50vw;
  margin: 0 auto;

  .carousel-looks {
    max-width: 400px;
    margin: 0 auto;
    img {
      box-shadow: 5px 11px 9px 1px $c-pink;
    }
  }

  .carousel-looks-nav {
    height: 200px;

    .slick-slide {
      height: 28vw;
      width: auto;
    }
  }
}

.color {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row nowrap;
  width: 100%;

  .color__look {
    display: none;
  }

  .color__card {
    height: 26vw;
    width: auto;
    position: relative;
    max-height: 282px;

    &:hover + .color__look,
    &:focus + .color__look {
      display: block;
      z-index: 2;
      box-shadow: 5px 11px 9px 1px $c-pink;
      background: $c-white;
      position: fixed;
      top: 50%;

      &.color__look--right {
        left: 75%;
        transform: translate(-50%, -50%) skew(-4deg, -2deg);
      }

      &.color__look--left {
        left: 25%;
        transform: translate(-50%, -50%) skew(4deg, 2deg);
      }

      img {
        height: 80vh;
        width: auto;
      }
    }
  }
}

.speedo,
.shoes {
  img:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

// back to overview

.back-to-top {
  width: 20%;
  max-width: 120px;
  margin: 0 auto;
  img {
    animation: spin 4s linear infinite;

    &:hover,
    &:focus {
      animation: expand 8s linear infinite;
    }
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes expand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(24) rotate(360deg);
    }
  }
}

.next-section {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding: 0;
  a {
    max-width: 100px;
    height: auto;
    width: 20%;
    margin: 0 0 20px auto;
    display: block;
    animation: bounce 2s linear infinite;
  }
  img {
    width: 100%;
  }
}

// Helicopter
.helicopter {
  .project {
    background: $c-white url("../img/Helikopter/helikopter-bg.jpg") no-repeat center;
  }
}

// Marquee

.marquee--rotated {
  transform: rotate(30deg);

  .helicopter-img {
    width: 40%;
    margin-top: -20%;
  }
}

.marquee > * {
  display: inline-block;
  width: 200%;
  padding-left: 100%;
  animation: marquee 12s linear infinite;
}

// Grids and rows

.overview-grid {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-evenly;

  img {
    width: 20%;
  }

  .overview-grid--full {
    width: 100%;
  }
}

.overview-grid-2 {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-evenly;

  img {
    width: 40%;
    padding-bottom: 4%;
  }
}

.overview-grid-3 {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;

  img {
    width: 30%;
  }
}

.overview-grid-4 {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;

  img {
    width: 25%;
  }

  .overview-grid--full {
    width: 100%;
  }
}

.center-row {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

// About

.about {
  margin-top: 6%;
}

.about-portrait {
  padding: 4%;
}

.project--links {
  background: $c-white;
  border: 4px $c-pink solid;
  transform: skew(3deg, 1deg);
  box-shadow: -4px 3px 9px 1px $c-pink;
  padding: 5%;
}

// Fashion

.show,
.book {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  .collection-description {
    flex-flow: column nowrap;
    z-index: 2;
    background: $c-white;
    padding: 1%;
  }

  .carousel-collection {
    width: 60%;
  }
}

.shaking-button {
  margin-top: -14%;

  a {
    align-items: center;
    text-decoration: none;
  }

  h2 {
    color: $c-palepurple;
    text-shadow: 6px 9px 18px $c-ballpointblue, 1px 2px 0 $c-ballpointblue, 1px 3px 0 $c-ballpointblue--hover;;
  }

  .project {
    padding: 4% 5% 5% 4%;  
  }

  .shaking-button__img {
    animation: shake 2s linear infinite;
  }

  &:hover .shaking-button__img,
  &:focus .shaking-button__img {
    animation: pulse 3s linear infinite;
  }
}

.shaking-button--about {
  margin-top: -10%;
  width: 20%;
  display: block;
  position: absolute;
  right: 2%;
}

.jessica-nap {
  .credits {
    padding: 10px;
  }
}

.hover-grid .overview-grid {
  // box-shadow: 7px 6px 20px 0px $c-pink;
  //border: 4px $c-pink solid;
  //transform: skew(-3deg, -1deg);
  //box-shadow: -4px 3px 9px 1px $c-pink;
  background: $c-white;

  img {
    background: $c-white;
    padding: 1%;
    width: 18%;
  }

  img:hover,
  img:focus {
    transform: scale(2.5);
    box-shadow: 5px 10px 10px $c-softpink;
  }
}

.hover-grid .overview-grid {
  align-items: center;

  img {
    width: 23%;
  }
}

// Prints

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10%,
  90% {
    transform: scale(1.2) translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: scale(1.6) translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: scale(1.1) translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: scale(1.4) translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  h2,
  a h2,
  .title h2 {
    font-size: 1.2rem;
  }

  .title h2 {
    text-shadow: none;
  }
  .page {
    width: 90%;
    font-size: 90%;
  }

  .back-to-top {
    height: inherit;
  }

  .hover-grid .overview-grid {
    img {
      width: 31%;
    }
  }

  .color {
    display: none;
  }

  .colorcards {
    display: initial;
  }

  .enter {
    a {
      width: 100%;
    }
  }
  .project {
    flex-flow: column nowrap;
    transform: initial;
    border: none;

    .project__img,
    .project__description {
      width: 100%;

      div {
        position: initial;
      }
    }
  }

  .post {
    padding: 0;
  }

  .project__video {
    margin: 0;
  }

  .show {
    width: 100%;
    flex-flow: row wrap;

    .collection-description,
    .carousel-collection {
      width: 100%;
    }

    figure:nth-of-type(1),
    section:nth-of-type(1) {
      width: 100%;
    }
    section:nth-of-type(1) {
      width: 100%;
      position: initial;
      margin: auto;
    }

    figure:nth-of-type(2n) {
      box-shadow: none;
    }
  }

  .show .carousel-collection {
    padding: 0;
  }
  .slick-next {
    right: 0px;
  }

  .slick-prev {
    left: 20px;
  }

  .helicopter {
    .project {
      flex-flow: row wrap;
    }
  }

  .about-portrait {
    padding: 0;
  }
}
